<!DOCTYPE html>
<html>
  <head>
    <title>CouchHopping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.bgURL = "<%= image_url("couchbg.jpg") %>";
      window.catURL = "<%= image_url("cat.png") %>";
      window.catcolorURL = "<%= image_url("catcolor.png") %>";
      window.earthURL = "<%= image_url("earth.png") %>";
      window.earthcolorURL = "<%= image_url("earthcolor.png") %>";
      window.profileURL = "<%= image_url("profile.png") %>";
      window.settingURL = "<%= image_url("setting.png") %>";
      window.settingcolorURL = "<%= image_url("settingcolor.png") %>";

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
